<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    processIsolation="false"
>

    <testsuites>
        <testsuite name="General">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
